<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.api.mapper.SendSmsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cheng.api.entity.SendSms">
        <id column="id" property="id" />
        <result column="mobile" property="mobile" />
        <result column="template_code" property="templateCode" />
        <result column="sign_name" property="signName" />
        <result column="template_param" property="templateParam" />
        <result column="message" property="message" />
        <result column="response" property="response" />
        <result column="code" property="code" />
        <result column="biz_id" property="bizId" />
        <result column="request_id" property="requestId" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
    </resultMap>

</mapper>
